<h2>Search Workouts</h2>

<form asp-action="SearchResult" method="post">
    <div>
        <label>Enter Workout Title:</label><br />
        <input type="text" name="searchTitle" class="form-control" placeholder="e.g., Push Up" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
</form>