<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<header>
    <h1>Workout Tracker</h1>

    <div class="menu">
        <a href="/Home/Index">Home</a> |
        <a href="/Account/Login">Login</a> |
        <a href="/Account/Signup">Signup</a> |
        <a href="/Home/About">About</a>
    </div>
</header>


<div class="about-box">
    <h2 style="text-align: center">About Us</h2>
    <p>
        Welcome to our Workout Tracker project!
        This website was created as part of our CPIS-358 course to help users easily
        organize and keep track of their daily workouts.
    </p>

    <p>
        Our goal is to provide a simple and clean interface that allows users to:
    </p>

    <ul>
        <li>View common exercises</li>
        <li>Add their own workout details</li>
        <li>Track reps, sets, and difficulty levels</li>
        <li>Review their daily activity</li>
    </ul>

    <p>
        We believe that keeping track of your exercise routine helps you stay motivated,
        consistent, and focused on your fitness goals.
    </p>



    <p style="text-align:center; margin-top:20px; font-weight:bold;">
        Thank you for using our Workout Tracker!
    </p>
</div>